---
---

@import "{{ site.theme }}";
.btn {
    background-color: rgba(0, 128, 128, 1);
}
.btn:hover {
    background-color: rgba(0, 128, 128, 1);
}

$hr-border-color: #eff0f1 !default;

hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
