---
---

@import "{{ site.theme }}";
.btn {
    background-color: rgba(0, 128, 128, 1);
}
.btn:hover {
    background-color: rgba(0, 128, 128, 1);
}
hr {
height:1px; border:none; color:#157878; background-color:#157878; width:60%; text-align:center; margin: 0 auto;
}
